C:/Users/tomro/OneDrive/Documents/GitHub/IEEE_3DUI/3DUI/Assets/Scenes/MainScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
3DUI/Assets/Scenes/MainScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
